# Environment
.venv/
.env

# Python cache
__pycache__/
*.pyc

# Streamlit secrets
.streamlit/secrets.toml

# Data files
data/dataset.json
config/gsheet_credentials.json

# IDE settings
.vscode/
.idea/